NET培训/20170322Advanced8Course24WebApi/SOA.Web/SOA.UnitTest8/Service References/advaned8.WS/WSDemo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldInt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="i" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorldIntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldIntResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldIntSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorldInt" />
  </wsdl:message>
  <wsdl:message name="HelloWorldIntSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldIntResponse" />
  </wsdl:message>
  <wsdl:portType name="WSDemoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorldInt">
      <wsdl:input message="tns:HelloWorldIntSoapIn" />
      <wsdl:output message="tns:HelloWorldIntSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDemoSoap" type="tns:WSDemoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldInt">
      <soap:operation soapAction="http://tempuri.org/HelloWorldInt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDemoSoap12" type="tns:WSDemoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorldInt">
      <soap12:operation soapAction="http://tempuri.org/HelloWorldInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDemo">
    <wsdl:port name="WSDemoSoap" binding="tns:WSDemoSoap">
      <soap:address location="http://localhost:6978/Remote/WSDemo.asmx" />
    </wsdl:port>
    <wsdl:port name="WSDemoSoap12" binding="tns:WSDemoSoap12">
      <soap12:address location="http://localhost:6978/Remote/WSDemo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>