NET培训/20170321Advanced8Course23SOA/SOA.Web/SOA.UnitTest/Service References/MyWebService/MyWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Minus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="iValueOne" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="iValueTwo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MinusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MinusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:WebServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceUser">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Age" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Sex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UserList">
        <s:complexType />
      </s:element>
      <s:element name="UserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserListResult" type="tns:ArrayOfWebServiceUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfWebServiceUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WebServiceUser" nillable="true" type="tns:WebServiceUser" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MinusSoapIn">
    <wsdl:part name="parameters" element="tns:Minus" />
  </wsdl:message>
  <wsdl:message name="MinusSoapOut">
    <wsdl:part name="parameters" element="tns:MinusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserListSoapIn">
    <wsdl:part name="parameters" element="tns:UserList" />
  </wsdl:message>
  <wsdl:message name="UserListSoapOut">
    <wsdl:part name="parameters" element="tns:UserListResponse" />
  </wsdl:message>
  <wsdl:portType name="MyWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Minus">
      <wsdl:input message="tns:MinusSoapIn" />
      <wsdl:output message="tns:MinusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <wsdl:input message="tns:UserListSoapIn" />
      <wsdl:output message="tns:UserListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyWebServiceSoap" type="tns:MyWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Minus">
      <soap:operation soapAction="http://tempuri.org/Minus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <soap:operation soapAction="http://tempuri.org/UserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyWebServiceSoap12" type="tns:MyWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Minus">
      <soap12:operation soapAction="http://tempuri.org/Minus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <soap12:operation soapAction="http://tempuri.org/UserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWebService">
    <wsdl:port name="MyWebServiceSoap" binding="tns:MyWebServiceSoap">
      <soap:address location="http://localhost:10008/Remote/MyWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MyWebServiceSoap12" binding="tns:MyWebServiceSoap12">
      <soap12:address location="http://localhost:10008/Remote/MyWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>