NET培训/20170322Advanced8Course24WebApi/SOA.Web/SOA.UnitTest/Service References/ClientWCFtcp/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMathService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/SOA.WCF.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathService_PlusInt_InputMessage">
    <wsdl:part name="parameters" element="tns:PlusInt" />
  </wsdl:message>
  <wsdl:message name="IMathService_PlusInt_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlusIntResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IMathService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_UserList_InputMessage">
    <wsdl:part name="parameters" element="tns:UserList" />
  </wsdl:message>
  <wsdl:message name="IMathService_UserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathService">
    <wsdl:operation name="PlusInt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/PlusInt" message="tns:IMathService_PlusInt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/PlusIntResponse" message="tns:IMathService_PlusInt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/GetUser" message="tns:IMathService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/GetUserResponse" message="tns:IMathService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/UserList" message="tns:IMathService_UserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/UserListResponse" message="tns:IMathService_UserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMathService" type="tns:IMathService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMathService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PlusInt">
      <soap12:operation soapAction="http://tempuri.org/IMathService/PlusInt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IMathService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserList">
      <soap12:operation soapAction="http://tempuri.org/IMathService/UserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="NetTcpBinding_IMathService" binding="tns:NetTcpBinding_IMathService">
      <soap12:address location="net.tcp://localhost:11111/MathService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:11111/MathService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>