NET培训/20170321Advanced8Course23SOA/SOA.Web/SOA.UnitTest/Service References/WebWCF/Entrance1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOA.WCF.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOA.WCF.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WCFUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFUser" nillable="true" type="tns:WCFUser" />
  <xs:complexType name="ArrayOfWCFUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WCFUser" nillable="true" type="tns:WCFUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWCFUser" nillable="true" type="tns:ArrayOfWCFUser" />
</xs:schema>